.about-title{
	padding: 40px 0;
	font-family: "Montserrat";
	color: white;
	text-transform: uppercase;
	font-size: 26px;
	.icon-title{
		width:25px; 
		height: 25px; 
		margin: 0 10px 6px;
		filter: drop-shadow(0 0 1px rgba(0,0,0,0.1));
	}
}

p{
	text-align: justify;
	font-family: "Monserrat";
	font-size: 17px;
	color: rgba(0,0,0,0.8);
}

#about-team{
	.members-wrapper{
		margin-top: 40px;
		.member-wrap{
			margin-bottom: 25px;
			font-family: "Montserrat";
			font-size: 15px;
			float: left !important;
			color: rgba(0,0,0,0.8);
			.member-portrait{
				background: url('../../../images/icon.jpg'); 
				width: 150px; 
				height: 150px; 
				border-radius: 50%; 
				background-size: cover; 
				right: 0; 
				left: 0; 
				margin: 0 auto 15px;
				border: 4px solid rgba(0,0,0,0.4);
			}
		}
	}
}

#contact{
	form{
		input,
		textarea{
			width: 100%;
			padding: 5px 10px;
			background: rgba(0,0,0,0.1);
			line-height: 1.5;
			margin-bottom: 10px;
			border: none;
		}
		.title-label{
			text-align: left;
			font-family: "Montserrat";
			font-size: 15px;
			text-transform: uppercase;
		}
		button{
			font-family: "Montserrat";
			border: 2px solid rgba(0,0,0,0.4);
			background: rgba(0,0,0,0.1);
			padding: 10px 0;
			width: 100%;
			color: rgba(0,0,0,0.8);
			text-transform: uppercase;
			margin: 20px 0;
		}
	}
}