body{
    font-family: "Open Sans", Sans-serif;
}
.clearfix{
    clear: both;
}

.margin-0{
    margin: 0 !important;
    max-width: none !important;
}

/* HEADER */

header{
    height: 85px;
    background: rgba(25,25,25,0.95);
    position: fixed;
    width: 100%;
    z-index: 999;
    .header-logo{
        height: 65px;
        margin: 10px auto;
    }
    #header-menu{
        line-height: 45px;
        margin: 30px auto;
        .header-language{
            float: right;
            height: 40px;
            margin: -8px 5px;
            right: 0;
            cursor: pointer;
        }
        .header-language:hover{
            filter: drop-shadow(0 0 3px white);
        }
        ul{
            float: right;
            margin-right: 20px;
        }
        li{
            color: #a0a0a0;
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;
            font-size: 15px;
            letter-spacing: 1px;
            font-family: "Montserrat";
            transition: color 0.2s ease;
        }
        li:hover{
            color: #8e0b1a;
        }
        li:hover > .header-submenu{
            display: block;
        }
        .header-submenu{
            display: none;
            background: white;
            float: none;
            margin-left: -15px;
            position: absolute;
            border-radius: 6px;
            padding: 10px 25px 10px 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.5);
            transition: display 0.4s ease;
            li{
                color: rgba(0,0,0,0.8);
                display: block;
                margin-bottom: 4px;
                font-size: 14px;
                transition: color 0.3s ease;
                font-family: "Montserrat";
            }
            li:hover{
                color: #8e0b1a;
                text-decoration: underline;
            }
        }
    }
}

main{
    .topnav-space{
        height: 85px;
        background: black;
    }
    #home-characters,
    #home-characters_m,
    #home-zestrias,
    #home-zestrias_m,
    #home-sincro,
    #home-sincro_m,
    #home-world,
    #home-world_m{
        height: 520px;
        border-bottom: 8px solid white;
    }
    #home-portal{
        background-image: url('../../../images/home_background.jpg');
        background-size: cover;
        border-bottom: 8px solid white;
        height: 620px;
        .download-artbook{
            position: absolute;
            top: 200px;
            margin: 10px 70px;
            color: white;
            width: 200px;
            background: rgba(133,32,32,0.9);
            padding: 20px;
            transform: rotate(10deg);
            font-family: 'Montserrat';
            outline: 6px dashed white;
            box-shadow: 0 0 0 6px rgba(133,32,32,0.9);
            animation: button-artbook 600ms linear infinite alternate;
            transition: all 0.5s ease;
        }
        .download-artbook:hover{
            width: 210px;
            font-size: 17px;
            color: white;
            outline: none;
            animation: none;
            box-shadow: 0 2px 8px rgba(0,0,0,0.6);
        }
        @keyframes button-artbook{
            to{
                outline-color: rgba(133,32,32,0.9);
                box-shadow: 0 0 0 6px white;
            }
        }
        .home-logo{
            width: 350px;
            margin: 50px auto;
            filter: drop-shadow(0 4px 5px rgba(0,0,0,0.5));
        }
        .home-portal-left,
        .home-portal-center,
        .home-portal-right{
            display: inline-block;
        }
        .home-portal-left{
            margin: 20px 50px 20px 0;
            .home-portal-section{
                width: 380px;
                padding-right: 100px;
                height: 80px;
                line-height: 80px;
                margin: 10px 0;
                border-radius: 8px;
                border: 2px solid white;
                color: white;
                font-family: "Montserrat";
                letter-spacing: 1px;
                cursor: pointer;
                filter: drop-shadow(0 4px 5px rgba(0,0,0,0.5)) grayscale(50%);
                transition: all 0.2s ease;
            }
        }
        .home-portal-right{
            margin: 20px 0 20px 50px;
            .home-portal-section{
                width: 380px;
                padding-left: 100px;
                height: 80px;
                line-height: 80px;
                margin: 10px 0;
                border-radius: 8px;
                border: 2px solid white;
                color: white;
                font-family: "Montserrat";
                letter-spacing: 1px;
                cursor: pointer;
                filter: drop-shadow(0 4px 5px rgba(0,0,0,0.5)) grayscale(50%);
                transition: all 0.2s ease;
            }
        }
        .home-portal-left .home-portal-section:hover,
        .home-portal-right .home-portal-section:hover{
            text-shadow:  0 0 2px rgba(0,0,0,0.8);
            filter: drop-shadow(0 4px 5px rgba(0,0,0,0.8)) grayscale(0);
        }
        .home-portal-center{
            background: black;
            width: 400px;
            color: white;
            position: absolute;
            height: 240px;
            right: 0;
            left: 0;
            margin: 0 auto;
            box-shadow: 0 4px 10px rgba(0,0,0,0.5);
            border: 2px solid white;
            z-index: 1;
        }
    }
}


.section-1{
    background-image: url("../../../images/background_humans.jpg");
    background-size: 100% 100%;
}

.section-2{
    background-image: url("../../../images/background_zestrias.jpg");
    background-size: 100% 100%;
}

.section-3{
    background-image: url("../../../images/background_synchro.jpg");
    background-size: 100% 100%;
}

.section-4{
    background-image: url("../../../images/background_world.jpg");
    background-size: contain;
}


#home-world,
#home-world_m{
    transition: background 1s linear;
}
.home-section-title{
    color: white;
    text-align: center;
    margin: 40px auto 20px;
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 1px;
}
.home-section-description{
    color: white;
    padding: 0 20px;
    font-size: 15px;
    width: 310px;
    margin: 0 auto;
}

.home-section-wrapper-icons{
    width: 294px;
    margin: 12px auto;
}

.home-section-icon{
    background-image: url("../../../images/icon.jpg");
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    filter: grayscale(80%);
}

.home-section-characterZestria{
    line-height: 512px;
}

.characterPersonaje,
.characterZestria,
.characterSincro{
    width: auto;
    height: 400px;
    filter: drop-shadow(0 4px 5px rgba(0,0,0,0.5));
}

.characterZestria{
    animation: anim-boton 800ms linear infinite alternate;
}

@Keyframes anim-boton {
    0%{
        margin-bottom: 0;
    }
    50%{
        margin-bottom: 10px;
    }
    100%{
        margin-bottom: 16px;
    }
    50%{
        margin-bottom: 4px;
    }
}

.home-section-icon:hover{
    filter: grayscale(0);
}

.home-section-moreinfo{
    text-align: center;
    padding: 10px 0;
    a{
        color: white;
        border: 2px solid white;
        padding: 10px 20px;
        border-radius: 6px;
        font-family: "Montserrat";
    }
    a:hover{
        background: rgba(133,32,32,0.2);
    }
}

/* FOOTER */

footer{
    background-color: #1c1c1c;
    padding: 30px 0;
    color: #777777;
    .footer-wrapper{
        width: 520px;
        margin: 0 auto;
        .footer-text-wrapper,
        .footer-social-wrapper{
            float:left;
        }
        .footer-social-wrapper{
            padding-top: 5px;
            .footer-social{
                margin: 0 0 0 10px;
                display: inline-block;
                width: 20px;
                height: 20px;
                fill: #777;
                transition: color 0.6s ease;
            }
            .footer-social:hover{
                color: #d1d1d1;
            }
        }
    }
}

/* Characters */

.kyron{
    background-image: url("../../../images/pj/kyron.png") !important;
}

.kinttia{
    background-image: url("../../../images/pj/kinttia.png") !important;
}

.tane{
    background-image: url("../../../images/pj/tane.png") !important;
}

.ylva{
    background-image: url("../../../images/pj/ylva.png") !important;
}

.feng{
    background-image: url("../../../images/pj/feng.png") !important;
}

.zoe{
    background-image: url("../../../images/pj/zoe.png") !important;
}

.alastor{
    background-image: url("../../../images/pj/alastor.png") !important;
}

.edda{
    background-image: url("../../../images/pj/edda.png") !important;
}

/* Zestrias */

.temmy{
    background-image: url("../../../images/zestrias/temmy.png") !important;
}

.neri{
    background-image: url("../../../images/zestrias/neri.png") !important;
}

.willy{
    background-image: url("../../../images/zestrias/ranuton.png") !important;
}

.KimJongDos{
    background-image: url("../../../images/zestrias/pajaroloco.png") !important;
}

.Taco{
    background-image: url("../../../images/zestrias/welgaia.png") !important;
}

.aki{
    background-image: url("../../../images/zestrias/aki.png") !important;
}

.mel{
    background-image: url("../../../images/zestrias/mel.png") !important;
}

.topin{
    background-image: url("../../../images/zestrias/topin.png") !important;
}

/* Sincro */

.kyron-s{
    background-image: url("../../../images/sincro/kyron_synchro.png") !important;
}

.kinttia-s{
    background-image: url("../../../images/sincro/kinttia_synchro.png") !important;
}

.ylva-s{
    background-image: url("../../../images/sincro/ylva_synchro.png") !important;
}

.alastor-s{
    background-image: url("../../../images/sincro/alastor_synchro.png") !important;
}

.zoe-s{
    background-image: url("../../../images/sincro/zoe_synchro.png") !important;
}

/* World */

.alkoi{
    background-image: url("../../../images/mundo/alkoi.jpg") !important;
    background-size: cover;
}

.pumthemis{
    background-image: url("../../../images/mundo/pumthemis.jpg") !important;
    background-size: cover;
}

.koro_vallis{
    background-image: url("../../../images/mundo/koro_vallis.jpg") !important;
    background-size: cover;
}

.garodam{
    background-image: url("../../../images/mundo/garodam.jpg") !important;
    background-size: cover;
}

.wagens{
    background-image: url("../../../images/mundo/wagens.jpg") !important;
    background-size: cover;
}

.insula{
    background-image: url("../../../images/mundo/insula.jpg") !important;
    background-size: cover;
}

.hellus{
    background-image: url("../../../images/mundo/hellus.jpg") !important;
    background-size: cover;
}

.waro{
    background-image: url("../../../images/mundo/waro.jpg") !important;
    background-size: cover;
}

.world1-m{
    background-image: url("../../../images/mundo/mini/world-1m.jpg") !important;
    background-size: cover;
}

.world2-m{
    background-image: url("../../../images/mundo/mini/world-2m.jpg") !important;
    background-size: cover;
}

.world3-m{
    background-image: url("../../../images/mundo/mini/world-3m.jpg") !important;
    background-size: cover;
}

.world4-m{
    background-image: url("../../../images/mundo/mini/world-4m.jpg") !important;
    background-size: cover;
}

.world5-m{
    background-image: url("../../../images/mundo/mini/world-5m.jpg") !important;
    background-size: cover;
}

.world6-m{
    background-image: url("../../../images/mundo/mini/world-6m.jpg") !important;
    background-size: cover;
}

.world7-m{
    background-image: url("../../../images/mundo/mini/world-7m.jpg") !important;
    background-size: cover;
}

.world8-m{
    background-image: url("../../../images/mundo/mini/world-8m.jpg") !important;
    background-size: cover;
}

/* CIERRE */

#hidden-door{
    #puerta-arriba{
        height: 50vh;
        background: black;
        border-bottom: 2px solid white;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1001;
        #puerta-cerrojo{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: black;
            position: absolute;
            border: 2px solid white;
            top: calc(50vh - 100px);
            margin: 0 auto 0;
            right: 0;
            left: 0;
            color: white;
            text-align: center;
            line-height: 200px;
            font-size: 25px;
            transition: transform 0.6s ease-in;
            #cerrojo_key{
                margin: 80px auto;
                width: 180px;
                border-radius: 15px;
            }
            .nope{
                position: absolute;
                top: 0;
                left: 0;
                border: 2px solid white;
                display: none;
            }
            @keyframes arriba {
                0%{top: 0;}
                100%{top: calc(-50vh + -100px);}
            }
            @keyframes abajo {
                0%{bottom: 0;}
                100%{bottom: -50vh;}
            }
        }
    }
    #puerta-abajo{
        height: 50vh;
        background: black;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 1000;
    }
}