/* Small only */
@media screen and (max-width: 39.9375em) {

    header{
        height: 60px;
    }

    header .header-logo{
        height: 40px;
        margin: 10px;
    }

    #header-menu{
        display: none;
        background: rgba(25,25,25,0.98);
        width: 185px;
        height: 100vh;
        right: 0;
        position: fixed;
        margin: 0 !important;
    }

    #header-menu li{
        border-bottom: 2px solid white;
        width: 100%;
        padding: 15px 10px;
    }

    header #header-menu .header-language{
        float: none;
        margin: 15px 10px;
    }

    .header-submenu{
        float: 0;
        margin-left: 0;
        position: relative;
        border-radius: 0;
        margin-right: 0;
        box-shadow: 0;
        background: transparent;
        color: white;
    }

    /* HOME */

    .topnav-space{
        height: 60px;
    }

    #home-portal{
        height: 1000px;
    }

    #home-portal .home-portal-left,
    #home-portal .home-portal-center,
    #home-portal .home-portal-right{
        display: block;
    }

    #home-portal .home-portal-left .home-portal-section,
    #home-portal .home-portal-right .home-portal-section{
        padding: 0;
        margin: 10px auto;
        width: 96%;
    }

    #home-portal .home-portal-left{
        margin: 0;
    }

    #home-portal .home-portal-right{
        margin: 0;
    }

    #home-characters,
    #home-characters_m,
    #home-zestrias,
    #home-zestrias_m,
    #home-sincro,
    #home-sincro_m,
    #home-world,
    #home-world_m{
        height: 805px;
        border-bottom: 8px solid white;
    }

    #home-portal .home-portal-center{
        width: 96%;
        position: relative;
        margin: 0 auto 40px;
    }

    .home-section-description{
        padding: 0 20px 25px;
    }

    .characterZestria{
        max-width: 80%;
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev{

    }

    footer{
        padding: 18px 0;
    }

    footer .footer-wrapper{
        width: auto;
    }

    footer .footer-wrapper .footer-text-wrapper,
    footer .footer-wrapper .footer-social-wrapper{
        float: none;
    }

}

/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}